html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: cursive;
    background-color: #0000006d;
    overflow-x: hidden;
}

/* navigation bar css */



#search-box:hover {
    background-color: #ffffff;
    color: rgb(143, 143, 143);
    box-shadow: 0 6px 8px 0 rgb(0, 0, 0), 0 8px 25px 0 rgb(180, 170, 170);
}


#sb-btn:hover {
    background-color: #ffffff;
    color: rgb(143, 143, 143);
    box-shadow: 0 6px 8px 0 rgb(0, 0, 0), 0 8px 25px 0 rgb(180, 170, 170);
}
#sb-btn{
    width: 40px;
    margin-top: 10px;
    margin: right 20px;
    border-radius: 100%;
    margin-left: 0px;
}

#search-box {
    padding: 5px;
    font-family: cursive;
    margin-top: 10px;
    margin-right:5px ;
    margin-bottom: 0%;
}

#navbar {
    width: 100vw;
    background: linear-gradient(to right, #272727, #595959);
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#navbar img {
    height: 50px;
    margin: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#button:hover {
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    margin-right: 5px;
}

li {
    padding-top: 18px;
    padding-bottom: 18px;
    letter-spacing: 2.5px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 13px;
    transition-duration: 0.5s;
    margin: 0;
}

#navbar a:hover {
    border: 0.7px solid white;
    margin: 10px;
    padding: 3px;
}

.burger {
    display: none;
    position: relative;
    top: 7.5px;
    right: 25px;
}

.burger div {
    width: 25px;
    border-radius: 4.2px;
    height: 4px;
    background-color: white;
    margin: 7px;
    transition: all 0.35s ease;
}


@media screen and (max-width: 600px) {
    #navbar ul {
        margin: 0;
        position: fixed;
        right: 0;
        top: 60px;
        height: 90vh;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55%;
        transform: translateX(130%);
        transition: transform 0.5s ease-in;
    }

    .navbar ul li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    #navbar img {
        margin: 5px auto;
    }

    form {
        width: 80vw;
        height: auto;
    }

    #navbar a {
        color: black;
    }
}

.nav-links {
    transform: translateX(50%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-9.3px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-9.3px, -6px);
}

::-webkit-scrollbar {
    width: 12px;
    border-style: none;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#607872, #aec2bd);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#859b96, #97b6ae);
}

.heart {
    animation: heart 0.3s ease-in-out infinite alternate;
}

@keyframes heart {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}



.P-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.P-card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.P-card:hover {
    transform: scale(1.05);
}

.P-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.P-card-content {
    padding: 35px;
}

.P-card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.P-card-price {
    color: #4CAF50;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.P-card-description {
    font-size: 0.9em;
    color: #777;
}

.P-card-button {
    margin: 5px;
    margin-right: 5px;
    display: block;
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.P-card-button:hover {
    background-color: #2980b9;
}

.items h3 {
    color: #eee;
    text-align: center;
}


/* footer  */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; 
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.contact-details {
    margin-bottom: 25px;
}

.thankyou-note {
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 20px;
        margin: 5px;
    }
}